<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.ecommerce.orderservice.mapper.OrderItemMapper">
    <resultMap id="OrderItemResultMap" type="com.company.ecommerce.orderservice.model.OrderItems">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="skuCode" column="sku_code"/>
        <result property="productName" column="product_name"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="quantity" column="quantity"/>
        <result property="subtotal" column="subtotal"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="batchInsert">
        insert into order_items(order_id,
                                product_id,
                                sku_code,
                                product_name,
                                main_image_url,
                                unit_price,
                                quantity,
                                subtotal)
        VALUES
            <foreach collection="items" item="item" separator=",">
                (
                #{item.orderId},
                #{item.productId},
                #{item.skuCode},
                #{item.productName},
                #{item.mainImageUrl},
                #{item.unitPrice},
                #{item.quantity},
                #{item.subtotal}
                )
            </foreach>
    </insert>

    <select id="findAllOrderItemsByOrderId" resultMap="OrderItemResultMap">
        select *
        from order_items
        WHERE order_id = #{orderId}
    </select>


    <select id="findAllOrderItemsByOrderIds" resultMap="OrderItemResultMap">
    select * from order_items
        where order_id in
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
        order by order_id asc, id asc
    </select>

    <select id="replenishProductQuantity" resultType="com.company.ecommerce.orderservice.dto.projection.ProductQuantitySummary">
        select order_items.product_id as productId,
               SUM(quantity) as quantity
        from order_items
        where order_id in

        <foreach collection="orderIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY order_items.product_id
    </select>
</mapper>
